* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #fdfdfd;
  color: #333;
  line-height: 1.6;
}

header {
 background-color: #222;
 padding: 3rem 1rem;
 font-size: 8px;
  color: #fff;
  text-align: center;
  padding: 2rem;
}

.about-us,
.contact-section {
  max-width: 700px;
  margin: 2rem auto;
  padding: 1.5rem;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

h2 {
  margin-bottom: 1rem;
  color: #222;
}

.contact-form label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.7rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.contact-form textarea {
  height: 120px;
  resize: vertical;
}

button {
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #000;
}

footer {
  text-align: center;
  font-family:'Times New Roman';
  padding: 1rem;
  background: #eee;
  margin-top: 3rem;
}
